{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always",

  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,

  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@app/(.*)$",
    "^@/components/(.*)$",
    "^@/graphql/(.*)$",
    "^@/hooks/(.*)$",
    "^@/libs/(.*)$",
    "^@/providers/(.*)$",
    "^@/schemas/(.*)$",
    "^@/store/(.*)$",
    "^@/styles/(.*)$",
    "^@/utils/(.*)$",
    "^../(.*)$",
    "^./(.*)$",
    "(.scss)$"
  ],

  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
